<div class="container">
  <div class="row justify-content-lg-around">
    <div class="col-12 text-center">
      <a class="text-decoration-none" href="/">
        <img class="img-fluid" src="assets/images/brand/caru.png" alt="CARU Agência Digital" width="180px" height="36px">
      </a>
      <p class="mt-3">ola@caru.agency</p>
      <a href="https://wa.me/5581993054885?text=Quero%20melhorar%20meus%20n%C3%BAmeros%2C%20como%20fa%C3%A7o%3F" target="_blank" class="text-reset">+55 81 9 9305-4885</a>
    </div>
  </div>
</div>
